@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    *secret*<br />
    Johnston, IA 50131<br />
    <abbr title="Phone">P:</abbr>
    515.000.0100
</address>

<address>
    <strong>Email</strong> <a href="mailto:ajbrown@dmacc.edu">ajbrown@dmacc.edu</a><br />
    <strong>GitHub</strong> <a href="https://github.com/Alekjbrown">github.com/Alekjbrown</a>
    <strong>MySite</strong> <a href="AleksanderBrown.name">AleksanderBrown.name</a>
</address>
