@model IEnumerable<CIS174_TestCoreApp.Models.Student>

@{
    ViewData["Title"] = "Assignment 6";
    var access = ViewBag.AccessLevel;
}

<h1>Assignment 6</h1>
<p>
    Access Level: @access
    @if (access >= 8)
    {
        <div>Hello Admin</div>
    }
</p>
@if (access < 2)
{
    <p class="warning">You do not have sufficient access to view this data.</p>
}
else if (access >= 2)
{
    <table width="500">
        <tr>
            <td><strong>@Html.DisplayNameFor(model => model.FirstName)</strong></td>
            <td><strong>@Html.DisplayNameFor(model => model.LastName)</strong></td>
            @if (access >= 8)
            {
                <td><strong>@Html.DisplayNameFor(model => model.Grade)</strong></td>
            }
        </tr>
        @foreach (var student in Model)
        {
            Html.RenderPartial("_student", student);
        }
    </table>
}


